title {
	color: darkred;
}

h1 {
	color: #8d3e87;
	text-align: center;
	font: sans-serif;
	font-size: 25px;
}

body {
	background-image: url(https://images.pexels.com/photos/411207/pexels-photo-411207.jpeg?cs=srgb&dl=pexels-sebastian-voortman-411207.jpg&fm=jpg);
	background-color: #342d2d;

	background-repeat: no-repeat;
	background-position: center center;

	background-size: cover;
}

.topnav {
	text-align: right;
	color: black;
	font-size: 20px;
	border: 2px solid black;

}

header {
	font: san serif;
	font-size: 35px;
	color: darkred;
}

a {
	color: #010b1a;
	text-decoration: auto;
}

.topnav {
	background-color: #7ea2b5;
	display: flex;
	text-align: right;
}

.container {
	padding: 20px;
	color: black;
	border: none;
}

.mb-3 {
	border: none;
	align-content: center;
}

.botnav {
	position: bottom;
	text-align: bottom;
	border-style: solid;
	border-radius: 10px;
	box-sizing: initial;
	padding: 50px;
}

p {
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	color: rgb(37, 7, 9);
}

.container {
	padding: 10px 20px;
	background-color: #eff5fd;
	box-sizing: 15px;
	box-sizing: content-box;
	box-sizing: inherit;
	width: 500px;
}

.submit {
	;
}